.btn-primary{
    font-weight: bold;
    margin: auto;
    width: 100%;
}

.btn-primary:hover{
    background-color: #007BFF;
}

.btn-primary:disabled
{
    background-color: #007BFF;
}

.scoreBoard{
    display: block;
}

